/*
fonts cdn
*/

@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

/*
fonts cdn
*/



body
{
    background-color: #08121a;
}

nav
{
    z-index: 10;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    background-color: #0a1d29;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.5rem 0rem;
    box-shadow: 0px 8px 8px #00000046;
    overflow: hidden;
}

nav a
{
    color: #ffffff;
    opacity: 80%;
    font-family: 'Staatliches', cursive;
    font-weight: 800;
}
nav a:hover
{
    opacity: 100%;
}

header
{
    display: flex;
    justify-content: center;
    background-image: url(https://img.redbull.com/images/c_limit,w_1500,h_1000,f_auto,q_auto/redbullcom/2019/05/01/58381390-4957-4436-a623-ad4995168215/proximos-jogos-indie-capa-inmost);
    background-attachment: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10vw 0rem;
}

header h1
{
    color: #fff;
    font-family: monospace;
    font-weight: 800;
    font-size: 2vw;
    -webkit-text-stroke: 1.5px #000000;
}

.main-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1vh 0vh;
}

.main-container h2
{
    margin: 1vh auto;
    font-size: 1.2vw;
    max-width: 30vw;
    color: #fff;
    opacity: 60%;

}

.main-container p
{
    margin: auto;
    font-size: 1vw;
    max-width: 30vw;
    color: #fff;
    opacity: 60%;
}

#gallery
{
    padding:  2vh 0;
}

#gallery h2
{
    margin-top: 8vh;
    padding: 2vh 0vh;
    text-align: center;
    color: #fff;
    opacity: 60%;
    font-family: monospace;
    font-size: 1.2vw;
}

.gallery-list
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 3vh;
    width: 50%;
    margin: 0 auto;
}

.gallery-list div
{
    margin: 1vw;
}

#contact
{
    display: flex;
    flex-direction: column;
    padding: 2vh 0;
}

#contact h2
{
    margin: 8vh auto 3vh auto;
    font-size: 1.2vw;
    font-family: monospace;
    color: #fff;
    opacity: 60%;
}

.social-badges
{
    margin: 0 auto;
}

.social-badges img
{
    margin: 0vh 1vw;
}

#contact form
{
    margin: 2vh auto 2vh auto;
    display: flex;
    flex-direction: column;
    padding: 1vh 1vw;
    background-color: #0a1d29;
}

#contact form label
{
    color: #fff;
    opacity: 60%;
    font-family: monospace;
    font-size: 1vw;
    margin: 1vh 0vw;
}

#contact form input
{
    color: #0a1d29;
    font-family: monospace;
    font-size: 1vw;
    padding: 0vh 1vw;
}

#contact form textarea
{
    color: #0a1d29;
    font-family: monospace;
    font-size: 1vw;
    padding: 0vh 1vw;
}

footer
{
    display: flex;
    justify-content: center;
    bottom: 0;
    left: 0;
    right: 0;
}